################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BBBankAPIs/.vs/BBBankAPIs/v16
